# --- JupyterLite core (2021 edition) ---
jupyterlite==0.1.0b12

# --- Compatible JupyterLab version for jupyterlite 0.1 ---
jupyterlab==3.1.14
jupyterlab_server==2.3.0

# --- IPython pinned for Pyodide ---
ipython<8.31

# --- JupyterLab 3 Extensions ---
jupyterlab-drawio==0.9.0

# --- JupyterLite kernels ---
jupyterlite-p5-kernel==0.1.0a12
jupyterlite-xeus-lua==0.3.1
jupyterlite-xeus-wren==0.2.1
jupyterlite-xeus-sqlite==0.2.1

# --- Widgets (JL3-compatible) ---
ipywidgets>=7.7,<8
ipympl>=0.8.2
ipyleaflet==0.17.3
bqplot==0.12.36
ipycanvas>=0.9.1
ipyevents>=2.0.1

# --- Viz ---
plotly>=5,<6

# --- Theme ---
theme-darcula

# --- Core tools ---
nbconvert
